*.pkl
*.log

# Python cache
__pycache__/
*.pyc

# CatBoost logs
catboost_info/

# TSFresh cache
tsfresh_cache/

# IDE
.idea/
.vscode/

# Data
data/shewhart_charts/

# Virtual environment
.venv/

venv.txt
